Package: guideos-conky
Version: 2.0
Architecture: all
Maintainer: KTT73 <ktt73@guideos.de>
Installed-Size: 1469
Depends: bash, conky-all, wget, python3, psutils, python3-gi, libadwaita-1-0
Section: misc
Priority: optional
Homepage: https://guideos.de
Description: The GuideOS Conky Configurator is a user-friendly graphical application that allows you to easily configure and customize your Conky system monitor without manually editing configuration files. It provides an intuitive interface to adjust appearance, positioning, system information display, and autostart settings.
